header nav {
  background: #263355;
}

header .menuBurger {
  display: none;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}

header ul {
  list-style: none;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

header li {
  display: flex;
  color: white;
  font-weight: 900;
}

header a {
  text-decoration: none;
  padding: 20px;
  color: white;
  font-weight: 900;
  background-color: #263355;
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
}

header a:hover {
  background-color: #4c6299;
}

header .dropdown {
  position: relative;
}

header .dropdown span {
  padding: 20px;
}

header .dropdown span:hover + .sublist {
  display: flex;
}

header .sublist:hover {
  display: flex;
}

header .sublist {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  gap: 0;
}

header .subItem {
  width: 200px;
}

header .subItem a {
  width: 100%;
  text-align: center;
}

header .userName {
  position: absolute;
  right: 0;
  top: 0;
  color: white;
  font-weight: 900;
  padding: 20px;
}