.leaguesContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 100px;
}

.entryLeague {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  margin-top: 100px;
}

button {
  padding: 10px;
  border: none;
  font-size: 1.1em;
  font-weight: bold;
  cursor: pointer;
}

.loginLeague,
.createLeague {
  display: flex;
  flex-direction: column;
  width: 400px;
  gap: 10px;
  padding: 20px;
  border-radius: 10px;
  background-color: #263355;
  text-align: center;
  font-weight: 900;
  position: relative;
  color: white;
}

.entryLeague input {
  position: relative;
  width: 100%;
  font-size: 1em;
  padding: 10px;
  border: none;
  background: white;
  font-weight: bold;
  transition: 0.4s;
}

.entryLeague button {
  padding: 10px;
  border: none;
  font-size: 1.1em;
  font-weight: bold;
  cursor: pointer;
}

.leaguesList {
  list-style: none;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 400px;
  overflow-y: auto;
  min-width: 40%;
  max-width: 600px;
  overflow-x: hidden;
}

.leagueInfo {
  display: none;
  flex-direction: column;
  gap: 20px;
}

.leaguePlaying {
  display: flex;
}

.leagueItem {
  margin: 10px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #223454;
}

.leagueItem a {
  text-decoration: none;
  color: inherit;
}

.leagueName {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.currentLeague {
  background-color: #d5f5e3;
}

.playCasual {
  border: 2px solid #263355;
  background: white;
  color: #263355;
  font-weight: 900;
}

.leaguePlayButton {
  color: #223454;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
